html, body {
  background-color: #fff;
  color: #1A1A1A;

  .ant-typography {
    color: #1A1A1A;
  }

  // transition
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &.dark-mode,
  &.dark-mode body {
    background-color: #1A1A1A;
    color: #fff;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    .ant-typography {
      color: #fff;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }

    .ant-divider-inner-text {
      color: #fff;
    }

    .ant-card-body {
      background-color: #1A1A1A;
      color: #fff;
    }

    .ant-card-meta-title {
      color: #fff;
    }
  }
}
